@media (max-width: 1210px) {
    .contact-book-main {
      width: 280px;
      word-wrap: break-word;
    }
  
    .contact-book-container {
      padding-left: 0;
      gap: 15px;
    }
  
    .contactHeadlineContent {
      gap: 10px;
    }
  
    .headlineContacts {
      height: auto;
      font-size: 30px;
    }
  
    .borderStyle {
      height: 40px;
    }
  
    .textBetter {
      height: auto;
      font-size: 18px;
    }
  
    .contactCard-main {
      left: 530px;
    }
  
    .contactCard-header {
      gap: 15px;
      width: 480px;
    }
  
    .contactCard-initials {
      width: 70px;
      height: 70px;
      font-size: 23px;
    }
  
    .contactCard-name {
      font-size: 30px;
      width: 225px;
    }
  }
  
  @media (max-width: 1030px) {
    .contactCard-header {
      width: 300px;
    }
  
    .contactCard-initials {
      width: 55px;
      height: 55px;
      font-size: 20px;
    }
  }
  
  @media (max-width: 850px) {
    .kanban-title {
      display: block;
      padding-left: 20px;
    }
  
    .contactCard-main {
      left: 20px;
      margin-top: -35px;
      word-wrap: break-word;
      display: none;
    }
  
    .contactCard-header {
      width: auto;
    }
  
    .contactCard-edit-frame {
      display: none;
    }
  
    .contactCard-phone-frame {
      margin-top: 15px;
    }
  
    .contactCard-email-frame {
      margin-top: 15px;
    }
  
    .contactHeadlineContent {
      width: auto;
  
      top: 145px;
    }
  
    .contact-book-main {
      display: none;
    }
  
    .contact-book-main-rs {
      width: 100%;
      left: 0;
      padding-top: 55px;
      display: flex;
      word-wrap: break-word;
      min-height: initial;
      height: calc(100% - 160px);
    }
  
    .contact-book-container {
      justify-content: flex-start;
    }
  
    .contact-circle {
      height: 45px;
      width: 45px;
    }
  
    .edit-responsive {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  
    .delete-contact {
      margin-top: 0;
    }
  
    .moveBackBtn {
      opacity: 1;
    }
  }
  
  @media (max-width: 350px) {
    .headlineContacts {
      font-size: 20px;
    }
  
    .textBetter {
      font-size: 14px;
    }
  
    .kanban-title {
      font-size: 14px;
    }
  
    .contactCard-name {
      width: 160px;
    }
  }
  
  @media (max-width: 1199.98px) {
    .contactNameInfo {
      font-size: 36px;
    }
  
    .addContactBtn {
      font-size: 18px;
    }
  
    .contactName {
      font-size: 16px;
    }
  
    .contactText {
      margin-left: 16px;
    }
  
    .contactMail {
      inline-size: 120px;
    }
  }
  
  @media (max-width: 991.98px) {
    #contactInfoContainer {
      margin-left: calc(269px + 30vw);
    }
    .contactInfoTop {
      gap: 32px;
    }
  
    .headlineContacts {
      font-size: 26px;
    }
  
    .contactHeadlineContent {
      margin-left: calc(269px + 30vw);
    }
  
    .contactInitialsInfo {
      height: 80px;
      width: 80px;
      font-size: 36px;
    }
  
    .contactNameInfo {
      font-size: 24px;
    }
  
    .addContactBtn {
      font-size: 16px;
    }
  
    .addContactBtn img {
      width: 28px;
      height: 28px;
    }
  
    .contactDiv {
      padding: 12px 16px;
    }
  
    .contactInitials {
      height: 32px;
      width: 32px;
      font-size: 10px;
    }
  
    #contact-book {
      width: 90%;
    }
  }
  
  @media (max-width: 850px) {
    .contactOverview {
      left: 0;
      width: 35vw;
    }
  
    .contactHeadlineContent {
      margin-left: calc(32px + 35vw);
    }
  
    #contactInfoContainer {
      margin-left: calc(32px + 35vw);
    }
  
    .userWhiteIcon {
      margin-top: -96px;
    }
  
    .contactsDetailsFrame {
      gap: 4px;
    }
  
    .contactsDetailsFrame {
      height: unset;
    }
  
    .contactHeadlineContent {
      margin-top: 0;
    }
  
    .contactInfoContainer {
      margin-top: 112px;
    }
  
    .headlineContacts {
      margin-top: 148px;
    }
  
    .borderStyle {
      margin-top: 148px;
    }
  
    .textBetter {
      margin-top: 148px;
    }
  
    .contactInfoContainer {
      margin-top: 32px;
    }
  
    #contact-book {
      margin-bottom: 96px;
    }
  }
  
  @media (max-width: 767.98px) {
    .contactOverview {
      width: 100vw;
    }
  
    .addContactText {
      display: none;
    }
  
    .addContactBtn {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      position: fixed;
      right: 10vw;
      bottom: 20vh;
      z-index: 100;
    }
  
    #contact-book {
      margin-top: 32px;
    }
  
    #contactInfoContainer {
      margin-left: 16px;
      display: none;
    }
  
    #contactHeadlineContent {
      margin-left: 16px;
      display: none;
    }
  
    .d-noneMobile {
      display: none !important;
    }
  
    .d-flex {
      display: flex !important;
    }
  
    .addContactLeftPart {
      height: 50%;
    }
  
    .contactMail {
      inline-size: unset;
    }
  }