header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 36px 20px 348px;
    box-sizing: border-box;
  }
  
  .headerJoinLogo {
    display: none;
  }
  
  .headerText {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
  }
  
  .headerIcons {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .help-icon {
    display: inline-block;
    width: 22px;
  }
  
  .userImage {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #29abe2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .userImage:hover {
    cursor: pointer;
    background-color: #e2e6ec;
  }
  
  .logout-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 36px;
    top: 81px;
    width: 130px;
    height: 45px;
    background: #2a3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    box-sizing: border-box;
    padding: 5px;
  }
  
  .logout-inner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdcdcd;
    width: 100%;
    height: 100%;
  }
  
  .popup-frame-logout {
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .rs-logout {
    display: none;
  }
  
  .d-none {
    display: none;
  }
  
  .rs-logout-active {
    color: white !important;
    cursor: pointer;
  }
  
  @media (min-width: 851px) {
    .logout-btn:hover {
      cursor: pointer;
      background: #29abe2;
    }
  
    .logout-btn:hover .logout-inner-btn {
      color: white;
    }
  }
  
  @media (max-width: 850px) {
    header {
      padding: 20px 25px;
      position: fixed;
      z-index: 99;
    }
  
    .headerJoinLogo {
      display: block;
    }
  
    .headerText {
      display: none;
    }
  
    .header-help {
      display: none;
    }
  
    .popup-frame-logout {
      position: fixed;
    }
  
    .rs-logout {
      display: flex;
      justify-content: center;
      color: #cdcdcd;
      width: 100%;
    }
  
    .rs-logout:hover {
      color: white;
      cursor: pointer;
    }
  
    .logout-btn {
      height: auto;
      gap: 10px;
    }
  
    .logout-inner-btn:hover {
      color: white;
      cursor: pointer;
    }
  }