<div class="responsiveMain">
    <a class="responsiveLinks" href="summary.html" id="idResponsive-0">
      <div class="responsiveBox">
        <img class="responsiveIcons" src="./img/summary-icon.svg" />
        <span class="responsiveText">Summary</span>
      </div>
    </a>
    <a class="responsiveLinks" href="board.html" id="idResponsive-1">
      <div class="responsiveBox">
        <img class="responsiveIcons" src="./img/board-icon.svg" />
        <span class="responsiveText">Board</span>
      </div>
    </a>
    <a class="responsiveLinks" href="task.html" id="idResponsive-2">
      <div class="responsiveBox">
        <img class="responsiveIcons" src="./img/write-task-icon.svg" />
        <span class="responsiveText">Add Task</span>
      </div>
    </a>
    <a class="responsiveLinks" href="contacts.html" id="idResponsive-3">
      <div class="responsiveBox">
        <img class="responsiveIcons" src="./img/contacts-icon.svg" />
        <span class="responsiveText">Contacts</span>
      </div>
    </a>
  </div>