<div class="navMainContent" id="navMainContent">
    <img class="navLogo" src="./img/join-logo.svg">
    <div class="sidebar-footer">
        <a class="navLink" href="legal_notice_out.html" id="id-6">
            <div class="navCategory">
                <div class="navCategory-inner-frame">
                    <img src="./img/info-icon.png">
                    <p>Legal notice</p>
                </div>
            </div>
        </a>
        <a class="navLink" href="privacy_policy_out.html" id="id-7">
            <div class="navCategory">
                <div class="navCategory-inner-frame">
                    <img src="./img/info-icon.png">
                    <p>Privacy Policy</p>
                </div>
            </div>
        </a>
    </div>   
</div>